.ContentMain{
    position: relative;
    
    /* top: 30%; */
    /* left: 5%; */
    /* text-align:center; */
    /* height:20%; */
    height: auto;
    width: 100%;
    z-index: 2;
    text-emphasis-color: white;
    display: flex;
    justify-content: center;
}


.ride-index-ul{
    background-color: none;
}