.review-form-container{
    position: relative;
    background-color:rgba(0,0,0,.6);

    box-sizing: border-box;
    -webkit-box-shadow: 2px 3px 5px 1px #5E5E5E; 
    box-shadow: 2px 3px 5px 1px #5E5E5E;
    border-radius:5px;
    padding:20px;
}


.review-form-box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color:rgba(0,0,0,.6); */

}

.review-description-textbox{
    width:250%;
    height:80px;
}

.reviewFormLowerContainer{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}


.ReviewShowItemContainer{
    position: relative;
    background-color:rgba(0,0,0,.6);
    box-sizing: border-box;
    -webkit-box-shadow: 2px 3px 5px 1px #5E5E5E; 
    box-shadow: 2px 3px 5px 1px #5E5E5E;
    border-radius:5px;
    padding: 20px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.ReviewItemBottom{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
