
.ride-show-temp-container {
  /* height: 1000px; */
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px;
  box-sizing: border-box;
}

.ride-show {
  background-color:#ADD8E6;
  font-family: sans-serif;
  border: 1px solid lightgray;
  -webkit-box-shadow: 2px 3px 5px 1px #5E5E5E; 
  box-shadow: 2px 3px 5px 1px #5E5E5E;
  border-radius: 5px;
  box-sizing: border-box;
  height: 600px;
  width: 100%;
  /* padding: 15px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ride-show-map {
  height: 375px;
  width: 575px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.ride-show-title {
  margin: 15px 0px 22px;
  font-size: 18px;
}

.ride-show-data-description {
  width: 89%;
  display: flex;
}

.ride-show-data {
  width: 30%;
  margin-right: 20px;
}

.ride-show-datum {
  margin: 9px 0px;
}

.ride-show-description {
  padding: 9px;
  border-radius: 10px;
  font-size: 14px;
  width: 70%;
  background-color: lightgray;
  line-height: 1.3;
}

.ride-show-map.mapboxgl-map {
  display: flex;
}

.marker {
  background-image: 'mapbox-icon.png';
  background-color: lawngreen;
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}