
.ride-create-container {
  display: flex;
  font-family: sans-serif;
}

.ride-create-map {
  height: 550px;
  width: 725px;
}

.ride-create-waypoints-and-button {
  background-color: #AC906C;
  width: 195px;
  border-radius: 0px 5px 5px 5px;
}

.ride-create-waypoints-and-button > ul {
  padding: 10px;
}

.ride-create-map-li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  margin-bottom: 5px;
}

.ride-create-map-li:last-child {
  margin-bottom: 0px;
}

.ride-create-map-li > button {
  border-radius: 5px;
}

.ride-create-button {
  background-color: rgb(53, 112, 238);
  height: 27px;
  width: 140px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}


.ride-buttons-delet{
  display: flex;
  justify-content: space-between;
}

.die-button{
  background-color: red;
}