
.ride-index-item {
    font-family: sans-serif;
    padding: 5px 0 0 0;
    margin: 30px 0;
}

.ride-index-item-container {
    background-color: rgb(172, 144, 108);
    /* background-color: lightblue; */
    padding: 15px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    z-index: 99;
    min-height:200px;
}

.ride-index-stuff{
    display: flex;
    flex-direction: row;
}

.ride-index-info-wraper{
    display:flex;
    flex-direction: row;
}

.ride-index-item-title {
    font-size: 55px;
        margin-bottom: 2px;

}
.ride-index-item-author{
    margin-left:300px;
    margin-bottom: 15px;
    font-size: 18px;

}

.ride-index-item-datum {
    font-size: 18px;
    margin: 5px 10px;
    color: rgb(66, 65, 65);

}
 .ride-index-info-wraper{
     margin-top: 50px;
     display:flex;
     flex-direction: row;
 }

 .ride-index-info-wraper>*{
     display:flex;
     flex-direction: column;
 }
.ride-index-item-map {
    height: 190px;
    width: 190px;
}

.button-tray {
    background-color: white;
    display: flex;
    justify-content: space-around;
    height: 0px;
    transition: height .5s;
    z-index: 1;
}

.button-tray.is-tray-open {
    top: 600px;
    margin: 0px 0px 50px;
    transition: height 1s;
}

.ride-index-item-button {
    font-size: 0px;
    height: 0px;
    width: 110px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(184, 7, 69, 0.865);
    border-radius: 0 0 5px 5px;
    transition: height .7s, padding .7s, font-size 1s;
    cursor: pointer;
}

.ride-index-item-button.is-tray-open {
    font-size: 18px;
    width: 200px;
    height: 35px;
    padding: 7px;
    transition: height 1s, padding .7s, font-size 1s;
}


.form-button{
    background-color: rgba(184, 7, 69, 0.865);
    border-radius: 8px;
    color:white;
}